<div layout="column" layout-padding ng-cloak>

    <!-- explanation -->
    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">How it works</md-subheader>
    </md-list-item>
    <div style="padding: 0 16px;">
        <p>The hot-word is the word used to trigger voice command recognition. When the hot-word is detected, your voice is recorded and sent to STT (SpeechToText) provider that transforms what you said to a text. Then this text is sent processed as a command</p>
        <p>Hot-word detection is performed locally on your device (to avoid latency) while the STT analyse is done with external provider (Google Speech, Microssoft Bing Speech...)</p>
        <p>Options below helps you to configure your own hot-word and to choose your preferred STT provider.</p>
    </div>
    <div style="padding:0 16px;">
        <div layout="row" layout-align="space-between center">
    	    <div>
                <p>Hot-word detection is powered by <a href="https://snowboy.kitt.ai/" target="_blank">Snowboy</a>. Before starting you need to create a <a href="https://snowboy.kitt.ai/" target="_blank">free account</a> (click on login on top right homepage corner).</p>
                <p>Your hot-word needs to be recorded three times to build a personal voice model. For better performance make sure to record your voice in a quiet environment.</p>
            </div>
            <div>
                <img mod-img-src="snowboy.png"/>
            </div>
        </div>
    </div>

    <!-- speech recognition service -->
    <md-list ng-cloak>
        <md-subheader class="md-no-sticky">Speech recognition service</md-subheader>
        <md-list-item ng-click="speechCtl.toggleServiceActivation()">
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <p>Enable speech recognition service</p>
            <md-checkbox ng-model="speechCtl.serviceEnabled" aria-label="Service enabled" ng-click="speechCtl.toggleServiceActivation()"></md-checkbox>
        </md-list-item>
        <md-list-item>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <p>Is speech recognition service running</p>
            <md-button ng-if="speechCtl.serviceStatus==='notrunning'" class="md-primary default-cursor" aria-label="Not running">
                <md-icon md-svg-icon="circle"></md-icon>
                Not running
            </md-button>
            <md-button ng-if="speechCtl.serviceStatus==='running'" class="md-accent default-cursor" aria-label="Running">
                <md-icon md-svg-icon="circle"></md-icon>
                Running
            </md-button>
            <md-button ng-if="speechCtl.serviceStatus==='testing'" class="md-accent default-cursor" aria-label="Testing">
                <md-icon md-svg-icon="test-tube"></md-icon>
                Testing
            </md-button>
        </md-list-item>
    </md-list-item>

    <!-- hot-word -->
    <md-list ng-cloak style="padding-top: 30px;">
        <md-subheader class="md-no-sticky">Hot-word configuration</md-subheader>
    </md-list-item>
    <div layout="row" layout-align="space-between center" style="padding: 0 16px;">
        <div>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <span style="padding-left: 28px;">Set Snowboy API token (available on <a href="https://snowboy.kitt.ai/" target="_blank">Snowboy website</a> "Profile settings > Your API token")</span>
        </div>
        <div layout="row">
            <md-input-container md-no-float class="md-block no-error-spacer">
                <input ng-model="speechCtl.newHotwordToken" type="text" placeholder="Snowboy API token">
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="speechCtl.setHotwordToken()">
                    <md-icon md-svg-icon="content-save"></md-icon>
                    Set
                </md-button>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="space-between center" style="padding: 0 16px;">
        <div>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <span style="padding-left: 28px;">Record your own hot-word</span>
        </div>
        <div layout="row" layout-align="space-between center">
            <div>
                <md-button class="md-raised md-primary" ng-click="speechCtl.recordHotword()" aria-label="Check configuration" ng-disabled="speechCtl.isRecordButtonDisabled(0)">
                    <md-icon md-svg-icon="record-rec"></md-icon>
                    Start first recording
                </md-button>
            </div>
            <div>
                <md-button class="md-raised md-primary" ng-click="speechCtl.recordHotword()" aria-label="Check configuration" ng-disabled="speechCtl.isRecordButtonDisabled(1)">
                    <md-icon md-svg-icon="record-rec"></md-icon>
                    Start second recording
                </md-button>
            </div>
            <div>
                <md-button class="md-raised md-primary" ng-click="speechCtl.recordHotword()" aria-label="Check configuration" ng-disabled="speechCtl.isRecordButtonDisabled(2)">
                    <md-icon md-svg-icon="record-rec"></md-icon>
                    Start final recording
                </md-button>
            </div>
            <div>
                <md-button class="md-raised md-primary" ng-click="speechCtl.buildHotword()" aria-label="Build voice model" ng-disabled="speechCtl.isRecordButtonDisabled(3)">
                    <md-icon md-svg-icon="wrench"></md-icon>
                    <md-tooltip>If something goes wrong, you can rebuild manually your hotword voice model without recording again voice</md-tooltip>
                    Build
                </md-button>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="space-between center" style="padding: 0 16px;">
        <div>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <span style="padding-left: 28px;">Reset your hotword voice model to record new one</span>
        </div>
        <div layout="row" layout-align="space-between center">
            <div>
                <md-button ng-if="!speechCtl.hotwordModel" class="md-primary default-cursor" aria-label="Not configured">
                    <md-icon md-svg-icon="circle"></md-icon>
                    Not configured
                </md-button>
                <md-button ng-if="speechCtl.hotwordModel" class="md-accent default-cursor" aria-label="Configured">
                    <md-icon md-svg-icon="circle"></md-icon>
                    Configured
                </md-button>
                <md-button class="md-raised md-primary" ng-click="speechCtl.resetHotword()" aria-label="Reset hotword" ng-disabled="speechCtl.isRecordButtonDisabled(4)">
                    <md-icon md-svg-icon="close"></md-icon>
                    Reset
                </md-button>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="space-between center" style="padding: 0 16px;">
        <div>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <span style="padding-left: 28px;">Test your hot-word</span>
        </div>
        <div layout="row" layout-align="space-between center">
            <div>
                <md-button ng-if="speechCtl.serviceStatus!=='testing'" class="md-raised md-primary" ng-click="speechCtl.startHotwordTest()" aria-label="Test hotword" ng-disabled="speechCtl.isRecordButtonDisabled(4)">
                    <md-icon md-svg-icon="test-tube"></md-icon>
                    Test your hotword
                </md-button>
            </div>
            <div>
                <md-button ng-if="speechCtl.serviceStatus==='testing'" class="md-raised md-primary" ng-click="speechCtl.stopHotwordTest()" aria-label="Stop test" ng-disabled="speechCtl.isRecordButtonDisabled(4)">
                    <md-icon md-svg-icon="stop"></md-icon>
                    Stop test
                </md-button>
            </div>
        </div>
    </div>

    <!-- STT provider -->
    <md-list ng-cloak style="padding-top: 30px;">
        <md-subheader class="md-no-sticky">SpeechToText provider</md-subheader>
    </md-list-item>
    <div layout="row" layout-align="space-between center" style="padding: 0 16px;">
        <div>
            <md-icon md-svg-icon="chevron-right"></md-icon>
            <span style="padding-left: 28px;">Choose your SpeechToText provider</span>
        </div>
        <div layout="row">
                <md-select ng-model="speechCtl.provider" class="md-no-underline">
                    <md-option ng-repeat="provider in speechCtl.providers | filter:{enabled:true}" ng-value="provider">{{provider.provider}}</md-option>
                </md-select>
            <md-input-container md-no-float class="no-error-spacer md-block">
                <input ng-model="speechCtl.provider.apikey" placeholder="Apikey" type="text">
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="speechCtl.setProvider()" aria-label="Set provider" ng-disabled="!speechCtl.provider || !speechCtl.provider.apikey">
                    <md-icon md-svg-icon="content-save"></md-icon>
                    Save
                </md-button>
            </div>
        </div>
    </div>

    <!-- Bing provider infos -->
    <div layout="row" style="padding: 0 16px;" ng-if="speechCtl.provider.id===0">
        <div flex></div>
        <div flex="50">
            Microsoft Bing Speech allows you to perform 5000 transactions per month for free, then the service costs $4 per 1000 transactions. (see <a href="https://azure.microsoft.com/en-us/pricing/details/cognitive-services/speech-api/" target="_blank">pricing</a>).<br/>
            To use this service:
            <ul>
                <li>Create an account on <a href="https://azure.microsoft.com/en-us/try/cognitive-services/" target="_blank">Microsoft azure website</a></li>
                <li>Then login and subscribe to "Speech > Bing Speech API"</li>
                <li>Accept terms and conditions</li>
                <li>And copy/paste one of provided keys (key1 or key2) to "apikey" input above.</li>
            </ul>
        </div>
    </div>
    <!-- Google provider infos -->
    <div layout="row" style="padding: 0 16px;" ng-if="speechCtl.provider.id===1">
        <div flex></div>
        <div flex="50">
            Google Cloud Speech allows you to perform 240 transactions per month for free, then the service costs $0.006 per transactions. (see <a href="https://cloud.google.com/speech/pricing" target="_blank">pricing</a>).<br/>
            To use this service:
            <ul>
                <li>Create an account or signin on <a href="https://cloud.google.com/speech/" target="_blank">Google Cloud Platform website</a></li>
                <li>Then click on "Try it free" button</li>
                <li>Fill form (credit card infos are mandatory!) and accept terms and conditions</li>
                <li>Copy/paste your api key to "apikey" input above.</li>
            </ul>
        </div>
    </div>
    
</div>

